* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
h2 {
    color: rgb(57, 55, 55);
    font-size: 35px;
    text-align: center;
}

#search-section {
    background-color: rgb (240, 252, 252);
}

.city {
    border:none;

}
.city-card {
    border: none;

}

.current-forecast {
    padding-bottom: 40px;
}

.row-cards {
    background-color: rgb(240,252,252);
}